* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow: auto;
    font-family: "ALS Schlange sans", serif;
    min-height: 100%;
}


header {
    text-align: center;
    width: 100%;
    height: 150px;
    background-size: cover;
    background: url('https://wallpapercave.com/wp/wp1853361.jpg') fixed bottom 10px right 0;
    overflow: auto;
}

header .overlay {
    width: 100%;
    height: 150px;
    overflow: auto;
    padding: 10px;
    color: #FFF;
    text-shadow: 1px 1px 1px #333;
    background-image: linear-gradient( 135deg, rgba(159, 5, 255, 0.41) 10%, #fd5e086b 100%);

}

footer {
    overflow: auto;
    float: bottom;
    text-align: center;
    clear: both;
    position: relative;
    height: 150px;
    bottom: 0;
    margin-top: 60px;
}


.container {
    text-align: center;
    width: 100%;
    height: 400px;
    background-size: cover;
    background: url('https://wallpapercave.com/wp/wp1853361.jpg') fixed bottom 10px right 0;
    overflow: auto;
}

.overlay {
    width: 100%;
    height: 400px;
    overflow: auto;
    padding: 10px;
    color: #FFF;
    background-image: linear-gradient( 135deg, rgba(159, 5, 255, 0.41) 10%, #fd5e086b 100%);
}

h1 {
    margin-bottom: 10px;
}

h3 {
    margin-top: 10px;
    margin-bottom: 30px;
}

body .left {
    float: left;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 50px;
    width: 40%;
    height: 40%;
    padding: 10px;
    min-height: 100%;
}

body .right {
    text-align: right;
    float: right;
    width: 40%;
    height: 40%;
    padding: 50px;
}

body .center {
    text-align: center;
    float: top;
    width: 40%;
    height: 40%;
    padding: 50px;
    margin-left: 45%;
}

body .header-left {
    padding: 10px;
    float: left;
}

body .header-right {
    padding: 10px;
    margin-top: 20px;
    text-align: right;
}

p {
    margin-top: 15px;

}


#err {
    -webkit-text-fill-color: #f64f59;
    opacity: 1;
}
#res {
    text-align: center;
}

@keyframes fadeInDisappearing {
   from {opacity: 1;}
   to {opacity: 0;}
}
@keyframes appearing {
    from {opacity: 0;}
    to {opacity: 1;}
}

input[type=button] {
    width: 15%;
    height: 5%;
    background-color: #fff;
    border: 1px solid #9c9f9d;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

input[type=button]:hover {
    border-color: #d29bff;
    color: #000;
    background: #fff;
    outline: 5px;
}

input[type=button]:focus  {
    border-color: #d29bff;
    color: #000;
    background: #fff;
    outline: 12px;
    border-radius: 12px;
}

input[type=button]:active {
    color: #d29bff;
}

input[type=text] {
    border: 1px solid #ccc;
    width: 25%;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

input[type=text]:focus {
    border-color: #d29bff;
    width: 30.6%;
    color: #000;
    background: #fff;
    outline: 0;
}


input[type=submit], button {
     width: 30%;
     border-radius: 6px;
     border-width: 0;
     padding: 1em 3em;
     background-size: 200% auto;
     color: white;
     box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
     background-image: linear-gradient(to right, #12c2e9 0%, #c471ed 50%, #f64f59 100%);
     transition: 0.5s;
     outline: 0;
 }



input[type=submit]:hover, button:hover {
    border-color: #fff;
    color: #fff;
    background-position: 90% 12%;
    outline: 12px;
    border-radius: 16px;
    box-shadow: 0px 2px 5px #8c8c8c;

}

input[type=submit]:active, button:active {
    border-color: #fff;
    color: #fff;
    background-position: 60% 12%;
    border-radius: 16px;
    box-shadow: 0px 1px 2px #8c8c8c;
    outline: 0;
}

input[type=submit]:disabled,
button:disabled {
    background-image: linear-gradient(to left, #a4e0ed 0%, #e1c5f0 50%, #a4e0ed 100%);
    transition: 1s;
}

td {
    width: 50px;
}